<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="KeyVN_Accounting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="connString"
    connectionString="Data Source=BATTLESTATION-I;Initial Catalog=keyvn_distributing;Integrated Security=True"
    providerName="System.Data.SqlClient"
    />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <userSettings>
  <KeyVN_Accounting.Properties.Settings>
   <setting name="username" serializeAs="String">
    <value />
   </setting>
   <setting name="password" serializeAs="String">
    <value />
   </setting>
  </KeyVN_Accounting.Properties.Settings>
 </userSettings>
</configuration>